<%if current_user.id!=user_id%>
<div class="buttons">
    <div class="container" >
    <div class="row justify-content-md-center">
    <div class="col-lg-3">  
    <%= link_to 'Message', "/conversation/" + user_id.to_s,class:"btn btn-outline-primary" %>

    </div>
    <div class="col-lg-2">  
    <%current_user_follows_this_user = Follower.find_by(user_id: user_id, follower_id: follower_id)%>
    <%if current_user_follows_this_user.nil?%>
    <%= render partial: 'followers/form', locals: { follower: Follower.new, follower_id: follower_id, user_id: user_id }%>
    <% else %>
    <%= link_to 'Unfollow', current_user_follows_this_user, method: :delete,  class:"btn btn-outline-danger" %>
    <% end %>
    
    </div>
    </div>
    </div>
</div>
<%end%>