<%if !@users.blank?%>
 
    <div class="padding">
    <% @users.each do |user| %>   
        <%current_user_id = -1%>
        <%current_user_id = current_user.id if user_signed_in?%>
        <%= render partial: 'user_list', locals: { user: user, color: user.id, follower_id: current_user_id, user_id: user.id, link: "/users/profile/"+user.id.to_s}%>
    <%end%>
    </div>
 
<%else%>
    <br/>
    <br/>
    <br/>
    <br/>
    <h3 style="color: blue; margin: 2;">
        No such users found :/
    </h3>
<%end%>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
