// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-control { /* Chrome, Firefox, Opera, Safari 10.1+ */
    resize: none;
}
.card-body:hover {
    background-color: whitesmoke;
}
.shadow {
    background-color: whitesmoke;
}

.jumbotron { 
    padding-bottom: 0; 
    padding-top: 0;    
    background:#Ebf6fb; 
    color: #580fbd
}
